body, html {
    font:"consolas";
    height:100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.info {
    color: gray;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}

a {
    color: gray
}

span {
    cursor: pointer;
}

span:hover {
    text-decoration: underline;
}
