body, html {
    font:"consolas";
    height:100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.card {
    margin: auto;
    opacity: 100%;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.bg {
    background-image: url("../public/toronto.jpg")
}

a {
    color: gray
}

a:hover {
    color: cyan;
    text-decoration: none;
}
