body {
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Formats the navigation bar */
ul {
    list-style-type: none; /* Removes bullet points */
    position: fixed; /* Nav bar stays fixed while scrolling */
    top: 0; /* Removes any default margins */
    margin: 0; /* Removes any default margins */
    padding: 0; /* Removes any default padding */
    width: 100%;
    overflow: hidden; /* Doesn't get covered by other elements */
    background-color: #333;
}

/* This list objects will be on the left */
li {
    float: left;
}

/* Settings for any <a> objects in the list */
li a {
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Highlights the currently selected link object */
li a.active {
    background-color: #3399ff;
    color: white;
}

/* Change the link color when hovered over */
li a:hover {
    background-color: #111;
}

/* Settings for the span on the left of the nav bar */
li span {
    display: block;
    margin-left: 400px;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Sets margins on the side of the page */
#sidemargins {
    margin-left: 400px;
    margin-right: 400px;
}

/* Puts space between nav bar and page */
#navbuffer {
    margin-top: 60px;
}
